body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: linear-gradient(
        to right bottom,
        rgb(90, 172, 255),
        rgba(0, 35, 236, 0.6)
    );
}

.container,
.titulo {
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 75vw;
    max-width: 660px;
}

.titulo,
.stopwatch,
.estado,
.intervalos {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 5px 10px 15px 15px rgba(0, 0, 0, 0.1);
    border: solid 2px;
    border-color: rgba(0, 247, 255, 0.521);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.titulo {
    margin-top: 3vh;
    text-align: center;
    color: rgb(6, 0, 122);
    padding: 0.3em;
    font-size: 1.5em;
}

.stopwatch {
    margin-top: 20px;
    position: relative;
    text-align: center;
    min-width: 100%;
    max-width: 50rem;
    padding: 0px;
    font-family: "MuseoModerno", cursive;
}

h1 {
    font-size: 1.5em;
}

h1 span {
    font-family: "Rock Salt", cursive;
}

h3 span {
    padding-left: 5px;
    padding-right: 5px;
}

h1,
h2,
h5 {
    margin: 0px;
}

h5 {
    font-size: 115%;
}

h6 {
    margin: 3px;
    font-size: 70%;
}

.tiempo {
    font-size: 45px;
}

button {
    font-size: 135%;
    font-family: "MuseoModerno", cursive;
    margin: 7px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.btnIniciar {
    background-color: rgb(147, 241, 147);
}

.btnIniciar:hover {
    background-color: rgb(102, 239, 102);
}

.btnDetener {
    background-color: rgb(241, 147, 147);
}

.btnDetener:hover {
    background-color: rgb(239, 97, 97);
}

.btnReiniciar {
    background-color: rgb(105, 200, 235);
}

.btnReiniciar:hover {
    background-color: rgb(59, 196, 237);
}

.btnIntervalo,
.btnLimpiar {
    background-color: rgb(255, 255, 255);
}

.btnIntervalo:hover,
.btnLimpiar:hover {
    background-color: rgb(255, 255, 255, 0.5);
}

.estado {
    margin-top: 20px;
    display: flex;
	align-items: center;
    padding: 5px;
    justify-content: space-around;
}

.imagen {
    text-align: justify;
    min-width: 50px;
    min-height: 50px;
    padding-left: 10px;
}

img {
    padding-top: 4px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.9));
}

.txtEstado { 
    text-align: center;
    font-size: 20px;
    padding-left: 10px;
    font-family: "MuseoModerno", cursive;
    font-weight: 600;
}

th {
    font-size: 120%;
}

.intervalos {
    padding: 0.65em;
    margin-top: 20px;
    text-align: center;
    font-family: "MuseoModerno", cursive;
    margin-bottom: 20px;
    max-height: 32vh;
    overflow-y: scroll;
    font-weight: 600;
}

.table {
    width: 100%;
    padding: 0px;
}

td {
    font-size: 110%;
}

footer {
    align-self: flex-end;
    margin-top: auto;
    width: 100%;
    text-align: center;
    font-family: "Handlee", cursive;
    font-size: 20px;
    background-color: rgb(35, 35, 35);
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #2700ec, #005bc9);
    border-radius: 25px;
    border: 2px solid blue;
}

::-webkit-scrollbar-track {
    background: transparent;
}